.monitorPageContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: linear-gradient(to right, #36D1DC 0%, #1c33de 51%, #36D1DC 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    font-weight: 600;
    font-size: 13pt;
    height: 100vh;

}

  

.queuesRoomsMonitorContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.roomMonitorContainer {
    width:25%;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    height: 300px;
    padding: 20px;
}

