.monitorPageContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;

    height: 100vh;

}



.queuesRoomsMonitorContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.roomMonitorContainer {
    border-radius: 10px;
    margin: 20px;
    width: 350px;
    background-color: white;
    box-shadow: 1px 6px 20px 0px #696969;






 
}