.ReportsPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f7ff;
}

.chartCont {
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
}

.report-btn {
    margin: 20px;
    background-image: linear-gradient(to right, #6bc1ef 0%, #3762f0 51%, #368cdc 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-weight: 500;
    font-size: 12pt;
    color: #ffffff;
    width: 150px;
}

.totalAmountContainer {
    display: flex;
    padding: 30px 50px 30px 50px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16pt;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px #d8d8d8;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}


.totalAmountTitle {
    font-weight: 500;
    font-size: 15pt;
}

.totalAmount {
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: fit-content;
    font-weight: 700;
    font-size: 35pt;
    color: #3762f0;
}

.report-btn-cont {
    display: flex;
}


.reportsTableContainer {
    margin: 20px;
    display: flex;
    align-items: center;
}

.reportsTableContainer table {
    width: 100%;
    border-collapse: collapse;
}

.reportsTableContainer th,
.reportsTableContainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.reportsTableContainer th {
    background-color: #f4f4f4;
}

.reportsTableContainer {
    position: relative;
    padding: 20px;
}

.closeTableBtn {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.closeTableBtn:hover {
    background-color: #c62828;
}

.chartCont {
    margin-top: 20px;
}

.managmentTitle {
    font-weight: 700;
    margin-bottom: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-image: linear-gradient(to right, #4ca0f9 0%, #3762f0 51%, #368cdc 100%);
    background-size: 200% auto;
    color: white;
    width: 20%;
    padding: 8px;

}

.reportsDetailsContainer {
    background-color: #ffffff;
    padding: 0px 40px 40px 40px;
    border-radius: 8px;
    direction: rtl;
    height: fit-content;
    width: fit-content;
    margin: 120px 50px 50px 50px;
}

.contentReportCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.tableStyleCont {
    display: flex;
    flex-direction: column;
}

.excel-btn {
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    background-color: white;
    border: 1px solid #11612f;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: 10pt;
    font-weight: 600;
}

.excel-btn:hover {
    background-color: #beedd0;

}

.allReportsCont {
    display: flex;
    flex-direction: column;
}