.MessageItemContainer {
    display: flex;
    width: 300px;
    height: 280px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    /* box-shadow: 2px 2px 12px rgb(180 180 180 / 64%); */

}

.MessagePageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f7ff;

}

.newMsg-Btn {
    margin: 20px;
    background-image: linear-gradient(to right, #4ca0f9 0%, #3762f0 51%, #368cdc 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 10%;
    font-weight: 500;
    font-size: 10pt;
    color: #ffffff;
}

.newMsgSubmit-Btn {
    margin: 20px;
    background-image: linear-gradient(to right, #4ca0f9 0%, #3762f0 51%, #368cdc 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 30%;
    font-weight: 500;
    font-size: 10pt;
    color: #ffffff;
}

.message-modal {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(180 180 180 / 64%);

}

.message-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messagesIcons {
    display: flex;
}

.messagesActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-btn {
    margin: 8px;
    background-image: linear-gradient(to right, #4ca0f9 0%, #3762f0 51%, #368cdc 100%);
    text-align: center;
    background-size: 200% auto;
    border-radius: 100px;
    border: none;
    color: white;
    padding: 11px;
    font-weight: 500;
    font-size: 10pt;


}

.messageActivity-btn {
    margin: 8px;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    border: 1px solid #3762f0;
    padding: 11px;
    font-weight: 500;
    font-size: 10pt;
    display: flex;
    align-items: center;
}

.messageActivity-btn:hover {

    background-color: rgb(239, 239, 255);


}

.action-btn {
    border-radius: 100px;
    padding: 9px;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.messageContent {
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.allMessagesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;

}

.chooseActivity {
    margin: 5px;
}

.chooseActivityCont {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.chooseActivityCont div {
    margin: 10px;

}

.close:hover {
    cursor: pointer;
}

.updateBtnsContainer {
    display: flex;
}

.updateBtns {
    background-color: white;
    border: 1px solid #3762f0;
    padding: 7px;
    border-radius: 100px;
    margin: 10px;
    width:120px;
}

.messageContentInput {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    border: none;
}

.titleAndNewMessage{
    margin-top: 7%;
    width: 100%;

}