.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.logoContainer{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  /* height: 100px; */
  border-bottom-right-radius: 60%;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: -7px -4px 16px 0px #4c4c4c;
}

.logoImg {
  width: 100px;
  margin: 10px;

}